////////////Variables///////////////////////


//COLORS
$color-primary: #888888;

$border-color: #c0c0c0;
$border-color-light: #e2e3e3;

$selection-color: #3c74ff;

// FONT
$font-primary: 'Roboto', sans-serif;
$default-font-size: 12px;


// GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;


// VALUES
$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;

$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$info-cell-width: 40px;

$db-header-height: 64px;

// BREAKPOINTS
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/////////////////////////////////////////////

